name: build

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      # By default, GitHub will maximize the number of jobs run in parallel
      # depending on the available runners on GitHub-hosted virtual machines.
      # max-parallel: 8
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "pypy-3.9"
          - "pypy-3.10"
        tox-env:
          - "dj42" # LTS
          - "dj50"
        exclude:
          # Python 3.8/3.9 is incompatible with Django 5.0+
          - python-version: "3.8"
            tox-env: "dj50"
          - python-version: "3.9"
            tox-env: "dj50"
          - python-version: "pypy-3.9"
            tox-env: "dj50"

    env:
      TOXENV: ${{ matrix.tox-env }}
      # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip version
        run: |
          python -m pip install -U pip

      - name: Install tox and coverage packages
        run: |
          pip install tox tox-gh-actions 'coverage<5' coveralls

      - name: Run tox and coverage
        run: |
          tox -e $TOXENV
          coverage report
          coverage html

      # - name: Upload coverage to coveralls
      #   run: |
      #     coveralls

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.12
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: Install tox and flake8 packages
      run: pip install tox tox-gh-actions flake8

    - name: Lint
      run: tox -e flake8
